/*
 * This file is part of IronERP.
 * 
 * IronERP is free software: you can redistribute it and/or modify it under the terms of 
 * the GNU General Public License as published by the Free Software Foundation, either 
 * version 3 of the License, or (at your option) any later version.
 * IronERP is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR 
 * PURPOSE. See the GNU General Public License for more details.
 * You should have received a copy of the GNU General Public License along with IronERP. 
 * If not, see <https://www.gnu.org/licenses/>.
 */

@import "~normalize.css/normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/table/lib/css/table.css";

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a.link {
  @apply text-sky-600 hover:text-sky-500 hover:border-b hover:border-b-sky-500;
}

.field-group {
  @apply flex rounded-lg shadow-sm mb-4;
}

.field-label {
  @apply px-4 inline-flex items-center min-w-fit rounded-s-md border border-e-0 border-gray-200 bg-gray-50 text-sm text-gray-500 dark:bg-neutral-700 dark:border-neutral-700 dark:text-neutral-400;
}

.field-input {
  @apply py-3 px-4 pe-11 block w-full border-gray-200 shadow-sm rounded-e-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600;
}

.field-select {
  @apply py-3 px-4 pe-9 block w-full border-gray-200 rounded-lg rounded-l-none text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600;
}

.button {
  @apply 
    py-2 
    px-3 
    inline-flex 
    items-center 
    gap-x-2
    text-sm 
    font-medium 
    rounded-lg
    bg-white 
    text-gray-800
    shadow
    shadow-slate-500
    focus:outline-none 
    focus:bg-gray-50 
    disabled:opacity-50 
    disabled:pointer-events-none
    hover:decoration-0
    hover:no-underline;
}

.button.intent-primary {
  @apply  bg-gradient-to-b from-blue-500 to-blue-600 text-white hover:from-blue-700 hover:to-blue-800 focus:bg-blue-700;
}

.button.intent-secondary {
  @apply  bg-gradient-to-b from-slate-50 to-slate-100 text-black hover:from-slate-100 hover:to-slate-200 focus:bg-slate-200;
}

.button.intent-success {
  @apply  bg-gradient-to-b from-green-500 to-green-600 border-green-700 text-white hover:from-green-600 hover:to-green-700 focus:bg-green-700;
}

.button.intent-danger {
  @apply  bg-gradient-to-b from-red-500 to-red-600 border-red-700 text-white hover:from-red-600 hover:to-red-700 focus:bg-red-700;
}

.button.intent-warning {
  @apply  bg-gradient-to-b from-yellow-300 to-yellow-400 border-yellow-500 text-black hover:from-yellow-400 hover:to-yellow-500 focus:bg-yellow-500;
}

.text-primary {
  @apply text-blue-600;
}

.text-secondary {
  @apply text-slate-400;
}

.text-success {
  @apply text-green-600;
}

.text-danger {
  @apply text-red-600;
}

.text-warning {
  @apply text-yellow-600;
}

.accent-primary {
  @apply bg-blue-200;
}

.accent-secondary {
  @apply bg-slate-200;
}

.accent-success {
  @apply bg-green-200;
}

.accent-danger {
  @apply bg-red-200;
}

.accent-warning {
  @apply bg-yellow-200;
}